<a href="https://colab.research.google.com/github/Khrons/Data-Science/blob/main/Consumo_Gas_Natural.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd

In [46]:
url = 'https://raw.githubusercontent.com/Khrons/Data-Science/main/data/anuario-2020-abertos-tabela1.8.csv'
df1 = pd.read_csv(url)

In [48]:
df1.head()

                     REGIÃO   ...   ANO
0           América do Norte  ...  2010
1           América do Norte  ...  2010
2           América do Norte  ...  2010
3  Américas Central e do Sul  ...  2010
4  Américas Central e do Sul  ...  2010

[5 rows x 4 columns]